
/* Extra Small Devices, Phones */ 

#connect .instagram .row { 
    width: 75%;
    margin: 0 auto;
}

#subscribe-form .input-wrapper {

    .field-container {
        width: 45%;
        .field-1-2:after { margin-right: 20%; }
    }
}